.bg-main{
    background-color: #191818 !important;

}
.text-main{

}
.text-orange{
    color: #f8a000;

}
.carousel-caption {
    bottom: 50% !important;
}

.hr{
    border-top: 3px solid;
    color: white;

}